body {  
    background-color: aliceblue;
}
form {
    background-color: aliceblue;
    border: 1px solid green;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

form{
    align-content: center;
}

div.bar{
    background-color:black;
}

div.edit{
    margin: 10px 50px 10px 50px;    
}

input{
    width: 100px;
}
input.form-control{
    width: 300px;
}

select{
    width: 100px;
}
select#Clients, #Brands{     
    width: 190px;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

 table, th, td {
    border: 1px solid black;
    align-content: center;
}


